<!DOCTYPE html>
<html>
  <head>
  <title>"பிரபாகரன் பயோபிக் : ஓடிடியில் வெளியான ’மேதகு’ - வாழ்த்திய தமிழ் திரையுலகினர்"</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:title" content="பிரபாகரன் பயோபிக் : ஓடிடியில் வெளியான ’மேதகு’ - வாழ்த்திய தமிழ் திரையுலகினர்" />
    <meta property="og:description" content="விடுதலைப் புலிகள் இயக்கத் தலைவர் பிரபாகரனின் வாழ்க்கையை பதிவு செய்துள்ள ‘மேதகு’ திரைப்படம் இன்று ஓடிடியில் இன்று வெளியாகியுள்ளது." />
    <meta property="og:url" content="https://tranquil-waters-96153.herokuapp.com/" />
    <meta property="og:image" content="https://www.google.com/imgres?imgurl=https%3A%2F%2Fimages.outlookindia.com%2Fpublic%2Fuploads%2Farticles%2F2016%2F12%2F14%2Fltte_20161219.jpg&imgrefurl=https%3A%2F%2Fmagazine.outlookindia.com%2Fstory%2Ftigers-only-chanted%2F298248&tbnid=gwEPeDg10UdkCM&vet=12ahUKEwi-7aWUl4jyAhUPB3IKHZRPB1cQMygBegQIARAV..i&docid=0iTw7U3VhVzrQM&w=1000&h=667&q=prabhakarn%20image%20265x265&ved=2ahUKEwi-7aWUl4jyAhUPB3IKHZRPB1cQMygBegQIARAV" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
